body {
	background: url(header.jpg) no-repeat 50% -100px;
}

#header {
	color: white;
	text-shadow: 2px 2px 1px black;
}

#table-worldboss {
	font-size: 1.5em;
	position: relative
}

.table-header {
	font-size: 1.2em;
	font-weight: bold;
}

.row {
    -webkit-animation: fadein 1s; /* Safari and Chrome */
       -moz-animation: fadein 1s; /* Firefox */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera */
            animation: fadein 1s;
	transition: background-color 0.3s ease-out;
}

.row:hover {
	background: #FFFFEE !important;
}

.row:nth-child(even) {
	background: #F8F8F8;
}

.row:nth-child(2) {
}

.nowbar::before {
	content: "Now";
	position: absolute;
	top: 7px;
	left: -35px;
	font-size: 0.5em;
	color: red;
}

#nowbar {
	position: absolute;
	background: url(splash.png) no-repeat;
	opacity: 0.3;
	height: 40px;
	width: 100%;
	top: 66px;
	left: -15px;
	z-index: -1;
}

#nowtext {
	position: relative;
	left: -40px;
	color: red;
	font-size: 0.8em;
}

.waypoint {
	font-family: monospace;
	cursor: pointer;
}

.waypoint input {
	margin: -1px 0 0 -4px;
	position: absolute;
}

.chatlink {
	width: 100%;
}

.scale-lowlevel > .wbname {
	color: #006600;
	text-shadow: 0px 0px 20px #AAFFAA;
}

.scale-standard > .wbname {
}

.scale-hardcore > .wbname {
	color: #990000;
	text-shadow: 0px 0px 20px #FFAAAA;
}

.wbname {
}

.localtime {
}

.pstime {
}
2
#footer {
	color: #CCCCCC;
	padding-top: 9px;
	margin: 20px 0 40px;
	border-top: 1px solid #EEE;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
