body {
	background: url(header.jpg) no-repeat 50% -100px;
}

#header {
	color: white;
	text-shadow: 2px 2px 1px black;
}

#table-worldboss {
	font-size: 1.5em;
}

.table-header {
	font-size: 1.2em;
	font-weight: bold;
	background: white !important;
}

.row {
    -webkit-animation: fadein 1s; /* Safari and Chrome */
       -moz-animation: fadein 1s; /* Firefox */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera */
            animation: fadein 1s;
	transition: border-left 0.3s ease-out,
		    background 0.3s ease-out;
	position: relative;
	border-left: 3px solid white;
}

.row:not(:nth-child(1)):hover {
	background: #FFEFEF;
	border-left: 3px solid #CC0000;
}

.row:nth-child(odd) {
	background: #F8F8F8;
}

.row:nth-child(2) {
	background: url(splash.png) no-repeat;
	background-size: auto 100% !important;
}

.row:nth-child(2)::before {
	content: "Now";
	position: absolute;
	top: 7px;
	left: -30px;
	font-size: 0.5em;
	color: red;
}

.done {
	text-decoration:line-through;
	opacity: 0.2;
}

.waypoint {
	font-family: monospace;
	cursor: pointer;
}

.waypoint input {
	margin-left: -14px;
	position: absolute;
}

.chatlink {
	width: 100%;
}

.scale-lowlevel > .wbname {
	color: #006600;
	text-shadow: 0px 0px 20px #AAFFAA;
}

.scale-standard > .wbname {
}

.scale-hardcore > .wbname {
	color: #990000;
	text-shadow: 0px 0px 20px #FFAAAA;
}

.wbname {
	cursor: pointer;
}

.localtime {
}

.pstime {
}

#footer {
	color: #CCCCCC;
	padding-top: 9px;
	margin: 20px 0 40px;
	border-top: 1px solid #EEE;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
